# Ignorar archivos específicos en Problema_4
Laboratorio_2/Problema_4/Problema_4.fs
Laboratorio_2/Problema_4/Problema_4.json
Laboratorio_2/Problema_4/Problema_4_pnr.json
Laboratorio_2/Problema_4/abc.history
Laboratorio_2/Problema_4/top.cst
Laboratorio_2/Problema_4/prueba.cst
Laboratorio_2/Problema_4/top.cst
Laboratorio_2/Problema_4/prueba.v
Laboratorio_2/Problema_4/top.cst
/Laboratorio_2
