IO_LOC  "A[0]" 56;
IO_PORT "A[0]" PULL_MODE=DOWN;

IO_LOC  "A[1]" 57;
IO_PORT "A[1]" PULL_MODE=DOWN;

IO_LOC  "A[2]" 68;
IO_PORT "A[2]" PULL_MODE=DOWN;

IO_LOC  "A[3]" 69;
IO_PORT "A[3]" PULL_MODE=DOWN;

IO_LOC  "B[3]" 55;
IO_PORT "B[3]" PULL_MODE=DOWN;

IO_LOC  "B[2]" 29;
IO_PORT "B[2]" PULL_MODE=DOWN;

IO_LOC  "B[1]" 28;
IO_PORT "B[1]" PULL_MODE=DOWN;

IO_LOC  "B[0]" 51;
IO_PORT "B[0]" PULL_MODE=DOWN;

IO_LOC  "led[0]" 10;
IO_PORT "led[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[1]" 11;
IO_PORT "led[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[2]" 13;
IO_PORT "led[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[3]" 14;
IO_PORT "led[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[4]" 15;
IO_PORT "led[4]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "s[1]" 3;
IO_PORT "s[1]" IO_TYPE=LVCMOS18;

IO_LOC  "s[0]" 4;
IO_PORT "s[0]" IO_TYPE=LVCMOS18;
