IO_LOC  "porcentajeEncendido[3]" 69;
IO_PORT "porcentajeEncendido[3]" PULL_MODE=DOWN;

IO_LOC  "porcentajeEncendido[2]" 68;
IO_PORT "porcentajeEncendido[2]" PULL_MODE=DOWN;

IO_LOC  "porcentajeEncendido[1]" 57;
IO_PORT "porcentajeEncendido[1]" PULL_MODE=DOWN;

IO_LOC  "porcentajeEncendido[0]" 56;
IO_PORT "porcentajeEncendido[0]" PULL_MODE=DOWN;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "led" 10;
IO_PORT "led" DRIVE=8 IO_TYPE=LVCMOS18;
